image: Visual Studio 2019

configuration: Release

before_build:

build:
  project: audio-router.sln
  verbosity: minimal
  
artifacts:
  - path: C:\projects\audio-router\bin\Release\Audio Router.exe
    name: Audio Router.exe
