configuration: Release

before_build:

#---------------------------------#
#    environment configuration    #
#---------------------------------#
# Build worker image (VM template)
#image: Visual Studio 2017

# environment variables
environment:
  matrix:
    - platform: x86
      msystem: mingw32
      bit: 32bit
    - platform: x64
      msystem: mingw64
      bit: 64bit
      
# this is how to allow failing jobs in the matrix
matrix:
  fast_finish: true     # set this flag to immediately finish build once one of the jobs fails.
  
#---------------------------------#
#       build configuration       #
#---------------------------------#
# to disable automatic builds - use build_script
build:
  project: audio-router.sln
  verbosity: minimal

# to run your custom scripts instead of automatic MSBuild
build_script:
  - cmd: set PATH=C:\msys64\%MSYSTEM%\bin;C:\msys64\usr\bin;%PATH%
#  - cmd: grep '#define APP_VERSION_STR' %APPVEYOR_BUILD_FOLDER%/app/Rajce/Version.h > APP_VERSION
#  - cmd: sed -i -e 's/.*"\([0-9\.]*\)".*/\1/' APP_VERSION
#  - cmd: set /p APP_VERSION= < APP_VERSION
#  - cmd: echo %APP_VERSION%
  - cmd: echo %NUMBER_OF_PROCESSORS%
#  - cmd: GenerateCMakeFiles.sh "MINGW"
  - cmd: mkdir build.%MSYSTEM%
  - cmd: cd build.%MSYSTEM%
#  - cmd: cmake -G "Unix Makefiles" ..
  - cmd: mingw32-make -j %NUMBER_OF_PROCESSORS%
  - cmd: cd %APPVEYOR_BUILD_FOLDER%
  
after_build:
- cmd: 7z a Audio-Router-%APPVEYOR_BUILD_ID%.zip %APPVEYOR_BUILD_FOLDER%\bin\Release\*.dll  %APPVEYOR_BUILD_FOLDER%\bin\Release\*.exe

artifacts:
- path: Audio-Router-*.zip
  name: Audio Router
    
# No tests for the samples at this time
test: off

# Do not build on tags (GitHub only)
#skip_tags: true
